.code {
	font-size: 18px;
	background-color: #E4E3DE;
	padding: 3%;
	overflow: hidden;
}
body {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: 400;
}
.main {
	align-self: center;
	width: 60%;
	padding: 1.8% 10% 2% 20%;
}

.method {
	cursor: pointer;
}

.variation li {
	cursor: pointer;
}

.light {
	color: rebeccapurple;
}

.documentation {

}