.code {
	font-size: 18px;
	background-color: #E4E3DE;
	/*padding: 3%;*/
	/*max-height: 200px;*/
	overflow: scroll;
}
body {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: 400;
}
.main {
	align-self: center;
	width: 60%;
	padding: 1.8% 10% 2% 20%;
}

.method {
	cursor: pointer;
}

.variation li {
	cursor: pointer;
}

.light {
	color: rebeccapurple;
}

.documentation {

}

.hidden {
	visibility: hidden;
}

.doc {
	display: block;
}
.zero {
	height: 0;
	width: 0;
}

.codeButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px 15px;
    cursor: pointer;
}